@font-face {
  font-family: 'Futura-Heavy';
  src: url("../../fonts/Futura-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Futura-Heavy.woff") format("woff"), url("../../fonts/Futura-Heavy.ttf") format("truetype"), url("../../fonts/Futura-Heavy.svg#Futura-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue.woff") format("woff"), url("../../fonts/HelveticaNeue.ttf") format("truetype"), url("../../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPTDemi';
  src: url("../../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../../fonts/FuturaPT-Demi.otf") format("opentype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"), url("../../fonts/FuturaPT-Demi.ttf") format("truetype"), url("../../fonts/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Times Italic';
  src: url("../../fonts/Times-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Times-Italic.woff") format("woff"), url("../../fonts/Times-Italic.ttf") format("truetype"), url("../../fonts/Times-Italic.svg#Times-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto; }

.content_wrap {
  display: block;
  max-width: 1180px;
  padding: 0 60px; }

a {
  text-decoration: none;
  color: black; }

.header_top {
  position: relative;
  padding-top: 7px;
  width: 100%; }
  .header_top a {
    text-decoration: none;
    color: black; }
  .header_top h1 {
    margin: 0;
    font-family: 'Futura-Heavy';
    font-size: 30px;
    line-height: 65px; }
  .header_top .logo {
    float: left;
    padding-top: 3px;
    letter-spacing: 0.06em; }
  .header_top .sign_up, .header_top .bag {
    float: right;
    font-family: 'HelveticaNeue';
    font-size: 12px;
    line-height: 65px; }
  .header_top .sign_up {
    margin-right: 54px;
    letter-spacing: 0.02em; }
  .header_top .bag img {
    margin-right: 16px; }
  .header_top .drop_menu_button {
    display: none; }
  .header_top .close_menu_button {
    display: none; }
  .header_top:after {
    content: "";
    display: table;
    clear: both; }

header {
  display: block;
  height: 120px; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 4px; }
    header nav a {
      text-decoration: none;
      color: black; }
      header nav a:hover {
        color: #f14a58; }
  header .header_ul_wrap {
    max-width: 100%;
    width: 918px; }
  header ul {
    padding: 0;
    margin: 2px 0 0 0;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    font-family: 'FuturaPTDemi';
    letter-spacing: 0.03em; }
  header form {
    display: inline-block;
    max-width: 118px;
    width: 10%;
    height: 25px;
    margin-left: 30px;
    border-bottom: 2px solid #e5e5e5;
    position: relative; }
    header form input[type="image"] {
      vertical-align: middle;
      width: 11.01695%;
      margin: 3px 0 0 0;
      padding: 0;
      float: right; }
    header form input:focus {
      outline: none; }
    header form .search-input {
      margin: 0;
      padding: 0;
      max-width: 100px;
      width: 83.89831%;
      background: transparent;
      border: none;
      font-family: 'FuturaPTDemi';
      font-size: 12px;
      letter-spacing: 0.025em; }

.baner_slider {
  max-height: 850px;
  height: auto;
  max-width: 1300px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .baner_slider .slider_inner {
    -webkit-transition: 1s;
    transition: 1s; }
    .baner_slider .slider_inner .slide {
      float: left;
      display: block;
      width: 1300px;
      height: 850px; }
      .baner_slider .slider_inner .slide a {
        width: 100%;
        min-width: 1300px; }
      .baner_slider .slider_inner .slide img {
        width: 100%; }
  .baner_slider .slider_nav {
    position: absolute;
    width: 100%;
    line-height: 80px;
    border-top: 1px solid #d1d1d2;
    text-align: center;
    bottom: 0;
    z-index: 1;
    cursor: default; }
    .baner_slider .slider_nav .dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #c8c8c8;
      cursor: pointer;
      -webkit-border-radius: 16px;
              border-radius: 16px;
      margin: 0 11px 2px; }
    .baner_slider .slider_nav .active {
      background: #f14a58; }

.banners {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .banners .left_banner, .banners .right_banner, .banners .right_banner_tablet {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 50%;
    max-height: 386px; }
    .banners .left_banner img, .banners .right_banner img, .banners .right_banner_tablet img {
      height: auto;
      width: 100%; }
  .banners .right_banner_tablet {
    display: none; }
  .banners .left_banner {
    float: left;
    border-right: 1px solid #e5e5e5; }
    .banners .left_banner .banner_text {
      position: absolute;
      top: 59px;
      left: 65.53846%; }
  .banners .right_banner {
    float: right; }
    .banners .right_banner .banner_text {
      position: absolute;
      top: 59px;
      left: 58%; }
  .banners .banner_text {
    text-align: center; }
    .banners .banner_text h4 {
      padding: 0;
      margin: 0;
      font-size: 30px;
      font-family: 'FuturaPTDemi';
      letter-spacing: 0.025em;
      color: black; }
    .banners .banner_text span {
      line-height: 36px;
      font-size: 16px;
      font-family: 'Times Italic';
      color: #757575; }
  .banners:after {
    content: "";
    display: table;
    clear: both; }

.arrivals {
  padding-top: 75px;
  padding-bottom: 78px; }
  .arrivals h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'FuturaPTDemi';
    letter-spacing: 0.02em; }
  .arrivals .arrivals_wrap {
    margin: 86px 0 84px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .arrivals .arrivals_wrap div {
      display: inline-block;
      width: 20.33898%; }
      .arrivals .arrivals_wrap div img {
        height: auto;
        width: 100%; }
    .arrivals .arrivals_wrap .item_info {
      padding-top: 39px;
      text-align: center;
      width: 91.66667%;
      display: block;
      margin: 0 auto; }
      .arrivals .arrivals_wrap .item_info .item_name {
        font-size: 14px;
        line-height: 24px;
        font-family: 'HelveticaNeue';
        letter-spacing: 0.07em;
        font-weight: bold; }
      .arrivals .arrivals_wrap .item_info .item_price {
        line-height: 42px;
        font-size: 14px;
        font-family: 'HelveticaNeue'; }
  .arrivals .all_arrivals {
    display: block;
    width: 28.64407%;
    height: 73px;
    line-height: 68px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    font-size: 26px;
    font-family: 'FuturaPTDemi';
    letter-spacing: 0.03em; }

footer {
  border-top: 1px solid #e5e5e5; }

.footer_links {
  position: relative; }
  .footer_links .left, .footer_links .right {
    width: 50%;
    height: 448px;
    padding-top: 23px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left; }
    .footer_links .left:after, .footer_links .right:after {
      content: "";
      display: table;
      clear: both; }
  .footer_links .right {
    padding-left: 5%;
    border-left: 1px solid #e5e5e5; }
  .footer_links section {
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 0.03em; }
    .footer_links section h5 {
      font-size: 18px;
      font-family: 'FuturaPTDemi';
      margin-bottom: 35px; }
  .footer_links ul {
    margin: 0;
    padding: 0; }
  .footer_links li {
    list-style: none;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    line-height: 40px; }
  .footer_links .quick_links {
    float: left;
    width: 45%; }
  .footer_links .customer_care {
    float: right;
    width: 55%;
    letter-spacing: 0.02em; }
    .footer_links .customer_care h5 {
      letter-spacing: 0.03em; }
  .footer_links .questions {
    float: left;
    width: 50%; }
    .footer_links .questions a {
      font-size: 14px;
      font-family: 'HelveticaNeue';
      letter-spacing: 0.038em; }
      .footer_links .questions a span {
        font-weight: bold; }
      .footer_links .questions a img {
        margin-right: 9px; }
  .footer_links .phone {
    float: left;
    width: 45%; }
    .footer_links .phone p {
      font-family: 'HelveticaNeue';
      font-size: 14px; }
  .footer_links .questions h5, .footer_links .phone h5 {
    margin-bottom: 18px; }
  .footer_links .delivery {
    margin-top: 57px;
    width: 57%;
    font-family: 'Times Italic';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0; }
  .footer_links .socials {
    margin-top: 37px;
    width: 90%; }
    .footer_links .socials a {
      margin-right: 20px; }
  .footer_links:after {
    content: "";
    display: table;
    clear: both; }

.footer_bottom {
  border-top: 1px solid #e5e5e5;
  line-height: 80px;
  position: relative; }
  .footer_bottom section {
    display: inline-block;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 12px; }
  .footer_bottom ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer_bottom ul li {
      list-style: none;
      display: inline-block; }
  .footer_bottom .copyright {
    float: left;
    letter-spacing: 0.045em; }
  .footer_bottom .legal_privaty {
    float: right;
    width: 36%;
    max-width: 294px;
    letter-spacing: 0.07em; }
  .footer_bottom .share {
    font-family: 'FuturaPTDemi';
    font-size: 18px;
    position: absolute;
    width: 106px;
    left: 50%;
    margin-left: -53px;
    line-height: 75px; }
    .footer_bottom .share span {
      margin-right: 2px;
      letter-spacing: 0.03em; }
    .footer_bottom .share i {
      display: inline-block;
      margin-right: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.5px 4px 3.5px 0;
      border-color: transparent #f4f4f4 transparent transparent; }
    .footer_bottom .share a {
      background: #f4f4f4;
      width: 42px;
      line-height: 21px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      font-family: 'HelveticaNeue'; }
  .footer_bottom:after {
    content: "";
    display: table;
    clear: both; }

@media (max-width: 1024px) {
  .content_wrap {
    padding: 0 39px; }
  header form {
    width: 13px;
    border-bottom: none; }
    header form .search-input {
      display: none; }
    header form input[type="image"] {
      vertical-align: middle;
      width: 13px;
      padding: 0; }
  .baner_slider {
    max-height: 820px; }
  .banners {
    max-height: 253px; }
    .banners .right_banner {
      display: none; }
    .banners .right_banner_tablet {
      display: inline-block;
      width: 33.33333%; }
      .banners .right_banner_tablet .banner_text {
        width: 50px;
        position: absolute;
        top: 167px;
        left: 50%;
        margin-left: -25px; }
        .banners .right_banner_tablet .banner_text h4 {
          color: #f14a58; }
    .banners .left_banner {
      width: 66.66667%; }
      .banners .left_banner img {
        width: auto;
        max-height: 276px;
        margin-top: -16px; }
      .banners .left_banner .banner_text {
        position: absolute;
        top: 30px;
        left: 64.5%; }
    .banners .right_banner_tablet, .banners .left_banner {
      height: 253px;
      max-height: 253px;
      overflow: hidden;
      text-align: center; }
      .banners .right_banner_tablet h4, .banners .left_banner h4 {
        font-size: 26px; }
  .arrivals {
    padding-top: 42px;
    padding-bottom: 138px; }
    .arrivals h2 {
      font-size: 50px; }
    .arrivals .arrivals_wrap {
      margin: 73px 0 73px; }
      .arrivals .arrivals_wrap div {
        width: 29.56522%; }
        .arrivals .arrivals_wrap div:nth-child(4) {
          display: none; }
      .arrivals .arrivals_wrap .item_info {
        padding-top: 34px;
        letter-spacing: 0em; }
    .arrivals .all_arrivals {
      display: block;
      width: 43.18841%;
      line-height: 68px;
      height: 68px;
      text-align: center;
      border: 1px solid #e5e5e5;
      margin: 0 auto;
      font-size: 24px;
      font-family: 'FuturaPTDemi';
      letter-spacing: 0.03em; }
  .footer_links section h5 {
    font-size: 16px;
    margin-bottom: 31px; }
  .footer_links .delivery {
    display: none; }
  .footer_links .left, .footer_links .right {
    height: 423px; }
  .footer_links .quick_links {
    min-width: 88px; }
  .footer_links .customer_care {
    float: right;
    min-width: 130px; }
  .footer_links .right {
    float: right;
    padding-left: 0;
    border-left: none; }
    .footer_links .right section {
      float: none;
      width: 100%; }
    .footer_links .right .questions {
      margin-bottom: 12px; }
    .footer_links .right .phone {
      margin-bottom: 38px; } }

@media (max-width: 760px) {
  .content_wrap {
    padding: 0 20px; }
  .header_top {
    height: 70px;
    line-height: 65px;
    padding-top: 0; }
    .header_top .logo {
      padding-top: 1px;
      text-transform: uppercase;
      font-size: 24px; }
      .header_top .logo span {
        display: none; }
    .header_top .sign_up {
      display: none; }
    .header_top .bag {
      margin: 2px 0 0 59px;
      float: left; }
      .header_top .bag img {
        display: none; }
    .header_top .drop_menu_button, .header_top .close_menu_button {
      display: inline-block;
      float: right;
      line-height: 70px;
      border-left: 1px solid #e5e5e5; }
      .header_top .drop_menu_button img, .header_top .close_menu_button img {
        margin-left: 20px; }
    .header_top .close_menu_button {
      line-height: 70px;
      display: none;
      border-left: none; }
  header {
    height: 70px;
    position: relative; }
    header nav {
      display: none; }
    header .drop_menu {
      opacity: 0;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      top: 66px;
      left: 0px;
      border-top: 1px solid #e5e5e5;
      z-index: 9999;
      background-color: white;
      padding: 12px 0 25px 19px; }
      header .drop_menu ul {
        display: block;
        width: 100%;
        float: none;
        margin: 0;
        padding: 0; }
        header .drop_menu ul li {
          display: block;
          font-size: 28px;
          line-height: 60px; }
      header .drop_menu form {
        float: none;
        max-width: 167px;
        width: 100%;
        height: 25px;
        border-bottom: 2px solid #e5e5e5;
        margin-top: 52px;
        margin-left: 0;
        position: relative; }
        header .drop_menu form input[type="image"] {
          vertical-align: middle;
          float: right;
          width: 13px; }
        header .drop_menu form input:focus {
          outline: none; }
        header .drop_menu form .search-input {
          display: inline-block;
          margin: 0;
          padding: 0;
          max-width: 100px;
          background: transparent;
          border: none;
          font-family: 'FuturaPTDemi';
          font-size: 12px;
          letter-spacing: 0.025em; } }
