@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: 'Futura-Heavy';
  src: url("../../fonts/Futura-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Futura-Heavy.woff") format("woff"), url("../../fonts/Futura-Heavy.ttf") format("truetype"), url("../../fonts/Futura-Heavy.svg#Futura-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue.woff") format("woff"), url("../../fonts/HelveticaNeue.ttf") format("truetype"), url("../../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPTDemi';
  src: url("../../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../../fonts/FuturaPT-Demi.otf") format("opentype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"), url("../../fonts/FuturaPT-Demi.ttf") format("truetype"), url("../../fonts/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Times Italic';
  src: url("../../fonts/Times-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Times-Italic.woff") format("woff"), url("../../fonts/Times-Italic.ttf") format("truetype"), url("../../fonts/Times-Italic.svg#Times-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.content_wrap {
  display: block;
  max-width: 1300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px; }

a {
  text-decoration: none;
  color: black; }

.header_top {
  position: relative;
  padding-top: 7px;
  width: 100%; }
  .header_top a {
    text-decoration: none;
    color: black; }
  .header_top h1 {
    margin: 0;
    font-family: 'Futura-Heavy';
    font-size: 30px;
    line-height: 65px; }
  .header_top .logo {
    float: left;
    padding-top: 3px;
    letter-spacing: 0.06em; }
  .header_top .sign_up, .header_top .bag {
    float: right;
    font-family: 'HelveticaNeue';
    font-size: 12px;
    line-height: 65px; }
  .header_top .sign_up {
    margin-right: 54px;
    letter-spacing: 0.02em; }
  .header_top .bag img {
    margin-right: 16px; }
  .header_top .drop_menu_button {
    display: none; }
  .header_top .close_menu_button {
    display: none; }
  .header_top:after {
    content: "";
    display: table;
    clear: both; }

header {
  display: block;
  height: 120px;
  position: relative;
  z-index: 100;
  background: white; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 4px; }
    header nav a {
      text-decoration: none;
      color: black; }
      header nav a:hover {
        color: #f14a58; }
  header .header_ul_wrap {
    max-width: 100%;
    width: 918px; }
  header ul {
    padding: 0;
    margin: 2px 0 0 0;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    font-family: 'FuturaPTDemi';
    letter-spacing: 0.03em; }
  header form {
    display: inline-block;
    max-width: 118px;
    width: 10%;
    height: 25px;
    margin-left: 30px;
    border-bottom: 2px solid #e5e5e5;
    position: relative; }
    header form input[type="image"] {
      vertical-align: middle;
      margin: 3px 0 0 0;
      padding: 0;
      float: right; }
    header form input:focus {
      outline: none; }
    header form .search-input {
      margin: 0;
      padding: 0;
      max-width: 100px;
      width: 83.89831%;
      background: transparent;
      border: none;
      font-family: 'FuturaPTDemi';
      font-size: 12px;
      letter-spacing: 0.025em; }

.bag_title {
  margin: 0;
  line-height: 62px;
  height: 64px;
  font-size: 24px;
  padding-left: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05em;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'FuturaPTDemi'; }

.shopping_bag .bag_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .shopping_bag .bag_items .item {
    position: relative;
    margin: 30px 0 16px;
    max-width: 50%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }
    .shopping_bag .bag_items .item figure {
      margin: 0;
      float: left;
      max-width: 240px;
      width: 40.67797%; }
      .shopping_bag .bag_items .item figure img {
        width: 100%;
        height: auto; }
      .shopping_bag .bag_items .item figure figcaption {
        text-align: center;
        font-family: 'HelveticaNeue';
        font-size: 14px;
        margin-top: 26px; }
    .shopping_bag .bag_items .item .side_info {
      float: left;
      padding: 7px 0 0 27px; }
      .shopping_bag .bag_items .item .side_info * {
        display: block; }
      .shopping_bag .bag_items .item .side_info .item_name {
        font-family: 'HelveticaNeue';
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 9px; }
      .shopping_bag .bag_items .item .side_info .item_color, .shopping_bag .bag_items .item .side_info .item_size, .shopping_bag .bag_items .item .side_info .item_quantity {
        font-size: 12px;
        line-height: 24px; }
      .shopping_bag .bag_items .item .side_info .remove_btn {
        margin-top: 26px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #f14a58;
        letter-spacing: 0.035em; }
    .shopping_bag .bag_items .item:after {
      content: "";
      display: table;
      clear: both; }
  .shopping_bag .bag_items h2 {
    font-family: 'FuturaPTDemi';
    font-size: 22px;
    text-align: center;
    width: 100%; }
    .shopping_bag .bag_items h2 a {
      color: #f14a58; }

.shopping_bag .info_line {
  margin-top: 55px;
  padding: 11px 0;
  line-height: 19px;
  font-family: 'FuturaPTDemi';
  font-size: 12px;
  padding-left: 18%;
  background: #f7f7f7;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: inset 1px 1px #e5e5e5;
          box-shadow: inset 1px 1px #e5e5e5;
  letter-spacing: 0.032em; }

.shopping_bag .controls_wrap {
  display: block;
  max-width: 1300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 91px; }

.shopping_bag .bag_controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  margin: 30px 0 60px; }
  .shopping_bag .bag_controls .left_side, .shopping_bag .bag_controls .right_side {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
        -ms-flex: 1 30%;
            flex: 1 30%; }
  .shopping_bag .bag_controls .right_side {
    text-align: right; }
  .shopping_bag .bag_controls .empty_bag {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    line-height: 71px; }
  .shopping_bag .bag_controls .buy_btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25.5%;
        -ms-flex: 1 25.5%;
            flex: 1 25.5%;
    text-align: center;
    width: 30.23256%;
    border: 1px solid #e5e5e5;
    line-height: 73px;
    font-family: 'FuturaPTDemi';
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em; }
  .shopping_bag .bag_controls .cost_wrap {
    text-align: right;
    padding-top: 19px; }
    .shopping_bag .bag_controls .cost_wrap span {
      font-family: 'HelveticaNeue';
      font-size: 12px;
      line-height: 22px; }
    .shopping_bag .bag_controls .cost_wrap .total_cost {
      font-family: 'FuturaPTDemi';
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.03em; }
  .shopping_bag .bag_controls:after {
    content: "";
    display: table;
    clear: both; }

footer {
  border-top: 1px solid #e5e5e5; }
  footer section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 0.03em; }
    footer section h5 {
      font-size: 18px;
      font-family: 'FuturaPTDemi';
      margin-bottom: 35px; }
    footer section ul {
      margin: 0;
      padding: 0; }
    footer section li {
      list-style: none;
      font-size: 14px;
      font-family: 'HelveticaNeue';
      line-height: 40px; }

.footer_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px; }

.section_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
  max-width: 50%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  height: 448px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .section_1 .quick_links {
    -webkit-box-flex: 1;
    -webkit-flex: 1 45%;
        -ms-flex: 1 45%;
            flex: 1 45%; }
  .section_1 .customer_care {
    -webkit-box-flex: 1;
    -webkit-flex: 1 55%;
        -ms-flex: 1 55%;
            flex: 1 55%;
    letter-spacing: 0.02em; }
    .section_1 .customer_care h5 {
      letter-spacing: 0.03em; }

.section_2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
  max-width: 50%;
  padding-left: 5%;
  padding-top: 23px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  width: 100%;
  border-left: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section_2_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
  .section_2_1 section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }
  .section_2_1 .questions a {
    font-size: 14px;
    font-family: 'HelveticaNeue';
    letter-spacing: 0.038em; }
    .section_2_1 .questions a span {
      font-weight: bold; }
    .section_2_1 .questions a img {
      margin-right: 9px; }
  .section_2_1 .phone p {
    font-family: 'HelveticaNeue';
    font-size: 14px; }
  .section_2_1 .questions h5, .section_2_1 .phone h5 {
    margin-bottom: 18px; }

.section_2_2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 60%;
      -ms-flex: 1 60%;
          flex: 1 60%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.delivery {
  margin-top: 39px;
  font-family: 'Times Italic';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  height: 100px; }
  .delivery p {
    width: 100%;
    max-width: 305px; }

.section_2_3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.socials {
  margin-top: 43px;
  width: 90%; }
  .socials a {
    margin-right: 20px; }

.footer_bottom {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  width: 100%;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px; }
  .footer_bottom section {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 12px; }
  .footer_bottom ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer_bottom ul li {
      list-style: none;
      display: inline-block;
      line-height: 80px;
      font-size: 12px; }
  .footer_bottom .section_3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 36%;
        -ms-flex: 1 36%;
            flex: 1 36%;
    width: 28.88%;
    max-width: 341px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
    .footer_bottom .section_3 li {
      display: inline-block; }
  .footer_bottom .legal_privaty {
    letter-spacing: 0.07em; }
  .footer_bottom .section_4 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%; }
  .footer_bottom .copyright {
    letter-spacing: 0.045em; }
  .footer_bottom .section_5 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 10%;
        -ms-flex: 1 10%;
            flex: 1 10%;
    line-height: 90px; }
  .footer_bottom .share {
    font-family: 'FuturaPTDemi';
    font-size: 18px;
    line-height: 75px;
    position: absolute;
    width: 108px;
    left: 50%;
    margin-left: -54px; }
    .footer_bottom .share span {
      letter-spacing: 0.04em; }
    .footer_bottom .share i {
      display: inline-block;
      margin-right: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.5px 4px 3.5px 0;
      border-color: transparent #f4f4f4 transparent transparent; }
    .footer_bottom .share a {
      background: #f4f4f4;
      width: 42px;
      line-height: 21px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      font-family: 'HelveticaNeue'; }

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px; }
  .content_wrap {
    padding: 0 39px; }
  header {
    height: 119px; }
    header form {
      width: 17px;
      overflow: hidden;
      border-bottom: none; }
      header form .search-input {
        position: absolute;
        top: 0;
        right: -9999px;
        width: 0;
        -webkit-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 1.5s;
                transition-duration: 1.5s; }
      header form input[type="image"] {
        vertical-align: middle;
        padding: 0; }
      header form:hover {
        overflow: visible;
        z-index: 200;
        border-bottom: 2px solid #e5e5e5; }
        header form:hover .search-input {
          display: block; }
        header form:hover input[type="text"] {
          position: absolute;
          width: 120px;
          max-width: 120px;
          margin-right: 12px;
          padding-left: 10px;
          right: 0;
          top: 0;
          background: white;
          line-height: 25px;
          border-bottom: 2px solid #e5e5e5; }
  .bag_title {
    line-height: 63px;
    height: 66px;
    padding-left: 68px;
    letter-spacing: 0.01em; }
  .shopping_bag .bag_items .item {
    margin-bottom: 20px; }
    .shopping_bag .bag_items .item figure {
      width: 42.02899%; }
    .shopping_bag .bag_items .item .side_info {
      max-width: 38%; }
  .shopping_bag .bag_items h2 {
    font-size: 20px; }
  .shopping_bag .info_line {
    margin-top: 42px;
    padding-left: 10.3%; }
  .shopping_bag .controls_wrap {
    padding: 0 39px; }
  .shopping_bag .bag_controls {
    height: 70px; }
    .shopping_bag .bag_controls .buy_btn {
      -webkit-box-flex: 1;
      -webkit-flex: 1 36.5%;
          -ms-flex: 1 36.5%;
              flex: 1 36.5%;
      line-height: 69px; }
    .shopping_bag .bag_controls .cost_wrap {
      padding-top: 15px; }
  .footer_top, .footer_bottom {
    padding: 0 39px; }
  .section_1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.7%;
        -ms-flex: 1 66.7%;
            flex: 1 66.7%;
    max-width: 66.7%;
    height: 423px; }
    .section_1 .quick_links {
      -webkit-box-flex: 1;
      -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
              flex: 1 50%; }
    .section_1 .customer_care {
      -webkit-box-flex: 1;
      -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
              flex: 1 50%; }
  .section_2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.3%;
        -ms-flex: 1 33.3%;
            flex: 1 33.3%;
    max-width: 33.3%;
    padding-left: 0;
    border-left: none; }
  .section_2_1 {
    height: 200px; }
    .section_2_1 section {
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
              flex: 1 100%; }
    .section_2_1 .questions {
      margin-bottom: 12px; }
    .section_2_1 .phone {
      margin-bottom: 38px; }
  .section_2_2 {
    display: none; }
  .footer_bottom .section_3 {
    width: 35.7971%;
    max-width: 295px;
    letter-spacing: 0.06em; }
  .footer_bottom .share {
    margin-left: -50px; }
  footer section h5 {
    margin-top: 26px;
    font-size: 16px;
    margin-bottom: 31px; }
  .socials {
    margin-top: 58px;
    margin-left: 2px; }
    .socials a:first-child img {
      margin-top: 2px; } }

@media (max-width: 760px) {
  .content_wrap {
    padding: 0 20px; }
  .header_top {
    height: 70px;
    line-height: 65px;
    padding-top: 0; }
    .header_top .logo {
      padding-top: 1px;
      text-transform: uppercase;
      font-size: 24px; }
      .header_top .logo span {
        display: none; }
    .header_top .sign_up {
      display: none; }
    .header_top .bag {
      margin: 2px 0 0 58px;
      float: left; }
      .header_top .bag img {
        display: none; }
    .header_top .drop_menu_button, .header_top .close_menu_button {
      display: inline-block;
      position: absolute;
      top: 0;
      right: -20px;
      line-height: 69px;
      border-left: 1px solid #e5e5e5; }
      .header_top .drop_menu_button img, .header_top .close_menu_button img {
        margin: 0 20px; }
    .header_top .close_menu_button {
      line-height: 70px;
      display: none;
      border-left: none; }
  header {
    height: 69px;
    position: relative; }
    header nav {
      display: none; }
    header .drop_menu {
      opacity: 0;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      top: 66px;
      left: 0px;
      border-top: 1px solid #e5e5e5;
      z-index: 199;
      background-color: white;
      padding: 12px 0 25px 19px;
      width: 100%; }
      header .drop_menu ul {
        display: block;
        max-width: 768px;
        width: 100%;
        float: none;
        margin: 0;
        padding: 0; }
        header .drop_menu ul li {
          display: block;
          font-size: 28px;
          line-height: 60px; }
      header .drop_menu form {
        float: none;
        max-width: 167px;
        width: 100%;
        height: 25px;
        border-bottom: 2px solid #e5e5e5;
        margin-top: 52px;
        margin-left: 0;
        position: relative; }
        header .drop_menu form input[type="image"] {
          vertical-align: middle;
          float: right;
          width: 13px; }
        header .drop_menu form input:focus {
          outline: none; }
        header .drop_menu form .search-input {
          position: static;
          display: inline-block;
          margin: 0;
          padding: 0;
          max-width: 100px;
          width: 89.82036%;
          background: transparent;
          border: none;
          font-family: 'FuturaPTDemi';
          font-size: 12px;
          letter-spacing: 0.025em; }
        header .drop_menu form:hover {
          width: 100%;
          margin-bottom: 4px; }
          header .drop_menu form:hover .search-input {
            position: static;
            margin: 0;
            padding: 0;
            line-height: 20px;
            border: none; }
  .bag_title {
    line-height: 51px;
    font-size: 20px;
    height: 56px;
    padding-left: 36px; }
  .shopping_bag .bag_items .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    max-width: 100%;
    margin: 15px 0 8px; }
    .shopping_bag .bag_items .item figure {
      width: 47.16418%; }
      .shopping_bag .bag_items .item figure figcaption {
        font-size: 12px;
        margin-top: 1px; }
    .shopping_bag .bag_items .item .side_info {
      max-width: 38%;
      padding-left: 22px; }
      .shopping_bag .bag_items .item .side_info .item_name {
        font-size: 12px;
        line-height: 20px; }
      .shopping_bag .bag_items .item .side_info .item_color, .shopping_bag .bag_items .item .side_info .item_size, .shopping_bag .bag_items .item .side_info .item_quantity {
        font-size: 10px;
        line-height: 20px; }
      .shopping_bag .bag_items .item .side_info .remove_btn {
        font-size: 11px; }
  .shopping_bag .bag_items h2 {
    font-size: 18px; }
  .shopping_bag .info_line {
    margin-top: 26px;
    font-size: 10px;
    padding: 10px 40px;
    text-align: center;
    line-height: 16px;
    width: 100%; }
  .shopping_bag .controls_wrap {
    padding: 0 20px; }
  .shopping_bag .bag_controls {
    height: 62px;
    margin: 22px 0 35px 0; }
    .shopping_bag .bag_controls .left_side, .shopping_bag .bag_controls .right_side {
      -webkit-box-flex: 1;
      -webkit-flex: 1 30%;
          -ms-flex: 1 30%;
              flex: 1 30%; }
    .shopping_bag .bag_controls .empty_bag {
      font-size: 10px;
      font-weight: normal;
      line-height: 60px; }
    .shopping_bag .bag_controls .buy_btn {
      -webkit-box-flex: 1;
      -webkit-flex: 1 37%;
          -ms-flex: 1 37%;
              flex: 1 37%;
      line-height: 58px;
      font-size: 20px;
      letter-spacing: 0; }
    .shopping_bag .bag_controls .cost_wrap {
      padding-top: 8px; }
      .shopping_bag .bag_controls .cost_wrap span {
        font-size: 10px; }
      .shopping_bag .bag_controls .cost_wrap .total_cost {
        font-size: 14px; }
  .footer_top {
    padding: 0; }
  .section_1, .section_2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    max-width: 100%; }
  .section_1 {
    height: 340px;
    padding: 34px 20px 0 20px;
    border-bottom: 1px solid #e5e5e5; }
    .section_1 li {
      line-height: 36px;
      font-size: 12px; }
    .section_1 .quick_links {
      -webkit-box-flex: 1;
      -webkit-flex: 1 56%;
          -ms-flex: 1 56%;
              flex: 1 56%; }
    .section_1 .customer_care {
      -webkit-box-flex: 1;
      -webkit-flex: 1 44%;
          -ms-flex: 1 44%;
              flex: 1 44%; }
  .section_2 {
    position: relative;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5; }
    .section_2 .section_2_1 {
      height: 109px; }
      .section_2 .section_2_1 section {
        -webkit-box-flex: 1;
        -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
                flex: 1 50%;
        max-width: 50%;
        padding-top: 23px; }
      .section_2 .section_2_1 h5 {
        margin-bottom: 10px; }
      .section_2 .section_2_1 .questions {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-right: 1px solid #e5e5e5;
        height: 109px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
                flex: 1 50%; }
        .section_2 .section_2_1 .questions a {
          font-size: 12px; }
      .section_2 .section_2_1 .phone {
        padding-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
                flex: 1 50%; }
        .section_2 .section_2_1 .phone p {
          font-size: 12px; }
    .section_2 .section_2_3 {
      position: absolute;
      bottom: -45px;
      right: 20px; }
    .section_2 .socials {
      max-width: 46px; }
      .section_2 .socials a:last-child {
        margin-right: 0; }
    .section_2:after {
      content: "";
      display: table;
      clear: both; }
  .footer_bottom {
    border-top: none;
    padding: 0; }
    .footer_bottom .section_3 {
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
              flex: 1 100%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      max-width: 100%;
      border-bottom: 1px solid #e5e5e5; }
      .footer_bottom .section_3 ul {
        height: 64px;
        padding-left: 0;
        max-width: 208px; }
        .footer_bottom .section_3 ul li {
          font-size: 10px;
          line-height: 63px; }
    .footer_bottom .section_3 {
      padding: 0 20px; }
    .footer_bottom .section_4 {
      line-height: 63px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      font-size: 10px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 75%;
          -ms-flex: 1 75%;
              flex: 1 75%;
      padding-left: 20px;
      letter-spacing: 0.035em; }
    .footer_bottom .section_5 {
      line-height: 57px;
      padding-right: 20px;
      position: static;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      -webkit-box-flex: 1;
      -webkit-flex: 1 25%;
          -ms-flex: 1 25%;
              flex: 1 25%;
      text-align: right; }
      .footer_bottom .section_5 span {
        font-size: 16px; }
      .footer_bottom .section_5 a {
        width: 36px;
        font-size: 10px;
        line-height: 19px; }
  footer section h5 {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 23px; } }
