@import 'mixins';
// @import 'variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: 'Futura-Heavy';
  src: 
  url('../../fonts/Futura-Heavy.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/Futura-Heavy.woff') format('woff'), 
  url('../../fonts/Futura-Heavy.ttf')  format('truetype'), 
  url('../../fonts/Futura-Heavy.svg#Futura-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: 
  url('../../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeue.woff') format('woff'),
  url('../../fonts/HelveticaNeue.ttf')  format('truetype'),
  url('../../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: 
  url('../../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/FuturaPT-Demi.otf')  format('opentype'),
  url('../../fonts/FuturaPT-Demi.woff') format('woff'), 
  url('../../fonts/FuturaPT-Demi.ttf')  format('truetype'), 
  url('../../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times Italic';
  src: 
  url('../../fonts/Times-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Times-Italic.woff') format('woff'), 
  url('../../fonts/Times-Italic.ttf')  format('truetype'), 
  url('../../fonts/Times-Italic.svg#Times-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: 
  url('../../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/HelveticaNeue-Bold.woff') format('woff'), 
  url('../../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), 
  url('../../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
.content_wrap{
	display: block;
	max-width: 1300px;
	box-sizing: border-box;
	padding: 0 60px;
}
a{
	text-decoration: none;
	color: black;
}

//HEADER
.header_top{
	position: relative;
	padding-top: 7px;
	width: 100%;
	a{
		text-decoration: none;
		color: black;
	}
	h1{
		margin: 0;
		font-family: 'Futura-Heavy';
		font-size: 30px;
		line-height: 65px;
	}
	.logo{
		float: left;
		padding-top: 3px;
		letter-spacing: 0.06em;
	}
	.sign_up, .bag{
		float: right;
		font-family: 'HelveticaNeue';
		font-size: 12px;
		line-height: 65px;
	}
	.sign_up{
		margin-right: 54px;
		letter-spacing: 0.02em;
	}
	.bag{
		img{
			margin-right: 16px;
		}
	}
	.drop_menu_button{display: none;}
	.close_menu_button{display: none;}
	@include clearfix;
}

header{
	display: block;
	height: 120px;
	position: relative;
	z-index: 100;
	background:white;
	nav{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: 4px;
		a{
			text-decoration: none;
			color: black;
			&:hover{
				color: #f14a58;
			}
		}
	}
	.header_ul_wrap{
		max-width: 100%;
		width: 918px;
	}
	ul{
		padding: 0;
		margin: 2px 0 0 0;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
	}
	li{
		margin: 0;
		padding: 0;
		display: inline-block;
		font-size: 14px;
		font-family: 'FuturaPTDemi';
		letter-spacing: 0.03em;
	}
	form{
		display: inline-block;
		max-width: 118px;
		width: 118px/1180px * 100%;
		height: 25px;
		margin-left: 30px;
		border-bottom: 2px solid #e5e5e5;
		position: relative;
		input[type="image"]{
			vertical-align: middle;
			margin: 3px 0 0 0;
			padding: 0;
			float: right;
		}
		input:focus{
			outline: none;
		}
		.search-input{
			margin: 0;
			padding: 0;
			max-width: 100px;
			width: 99px/118px * 100%;
			background: transparent;
			border: none;
			font-family: 'FuturaPTDemi';
			font-size: 12px;
			letter-spacing: 0.025em;
		} 
	}
}
// ---HEADER

//ITEM DETAILS

.to_catalog{
	display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.07em;
    height: 64px;
    line-height: 58px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.item{
	.item_gallery{
		display: block;
		margin-top: 61px;
		max-height: 610px;
		width: 100%;
		position: relative;
		.main_img{
			font-size: 0;
			display: inline-block;
			max-width: 915px;
			width: 915px/1180px * 100%;
			float: left;
			img{
				width: 100%;
				height: auto;
			}
		}
		.img_nav{
			font-size: 0;
			display: inline-block;
			float: right;
			max-width: 241px;
			width: 241px/1180px * 100%;
			ul{
				padding: 0;
				li{
					display: inline-block;
					width: 100%;
					margin-bottom: 22px;
					img{
						width: 100%;
						height: auto;
					}
					text-align: right;
					a{
					    position: relative; 
					    // top: 0px; 
					    // left: 0px; 
					    display: inline-block; 
					    z-index: 9;
					}
					.active:after {
						position: absolute;
						top: 0;
						left: 0;
					    content: '';
					    display: inline-block;
					    width: 100%;
					    height: 100%;
					    background: rgba(0,0,0,.3);
					}
				}
			}
		}
		@include clearfix;
	}
	.item_details{
		margin-top: 54px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		.item_name{
			font-size: 25px;
		    font-weight: bold;
		    line-height: 34px;
		    letter-spacing: 0.055em;
		    margin-bottom: 20px;
		}
		.item_info{
			font-family: 'Times Italic';
			display: inline-block;
    		margin-top: 17px;
   			line-height: 30px;
    		width: 612px/1180px * 100%;
    		letter-spacing: 0.02em;
		}
		.item_price{
			font-size: 18px;
			margin: 0;
		}
		h4{
			font-size: 24px;
		    letter-spacing: 0.03em;
		    margin: 20px 0 0 0;
		    line-height: 78px;
		}
		.item_color{
			h4{
				margin-top: 9px;
			}
		}
		ul{
			padding: 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			margin: 0 auto;
			width: 100%;
			max-width: 558px;
			// width: 558px/1180px * 100%;
			li{
				list-style: none;
				margin-right: 60px;
				margin-bottom: 21px;
				width: 144px;
				border: 1px solid #e5e5e5;
				a{
					display: inline-block;
					width: 100%;
					line-height: 73px;
					font-size: 24px;
					font-weight: bold;
					letter-spacing: 0.055em;
				}
				&:last-child{
					margin-right: 0;
				}
				&.checked{
					background: #707070;
				}
			}
		}
		.add_btn{
			display: block;
		    width: 28.64407%;
		    height: 73px;
		    line-height: 68px;
		    text-align: center;
		    border: 1px solid #e5e5e5;
		    margin: 140px auto 160px;
		    font-size: 24px;
		    font-weight: bold;
		    letter-spacing: 0.07em;
		}
	}
}

//Item details

//BANNERS
	.banners{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		border-top: 1px solid #e5e5e5;
		section{
			display: inline-block;
			font-size: 0;
			box-sizing: border-box;
			border-left: 1px solid #e5e5e5;
			position: relative;
			max-height: 384px;
			&:first-child{
				border: none;
			}
			img{
				height: auto;
				width: 100%;
			}
			a{
				max-width: 100%;
				img{
					&:nth-child(n+2){display: none;}
				}
			}
			.banner_text{
				position: absolute;
				text-align: center;
				h4{
					margin: 0;
					font-family: 'FuturaPTDemi';
					letter-spacing: 0.025em;
					font-size: 30px;
				}
				span{
					line-height: 36px;
					font-family: 'Times Italic';
					font-size: 16px;
				}
			}
			@include clearfix;
		}
		.left_banner{
			flex: 1 50%;
			max-width: 650px;
			.banner_text{
				top: 60px;
				left: 406px/650px * 100%;
				color: white;
				h4{
					font-size: 30px;
				}
				span{
					font-size: 16px;
				}
			}
		}
		.right_banner_1,.right_banner_2{
			flex: 1 25%;
			max-width: 325px;
			.banner_text{
				bottom: 384px - 274px - 70px;
				left: 50%;
				width: 100%;
				margin-left: -50%;
			}
		}
		.right_banner_1{
			.banner_text{
				bottom: 384px - 274px - 68px;
				color: white;
				span{
					font-size: 14px;
					font-family: 'HelveticaNeue';
					line-height: 34px;
				}
			}
		}
		.right_banner_2{
			.banner_text{
				h4{
					color: #f14a58;
				}
			}
		}
	}
//--BANNERS

//FOOTER

footer{
	border-top: 1px solid #e5e5e5;
	section{
		box-sizing:border-box;
		letter-spacing: 0.03em;
		h5{
			font-size: 18px;
			font-family: 'FuturaPTDemi';
			margin-bottom: 35px;
		}
		ul{
		margin: 0;
		padding: 0;
		}
		li{
			list-style: none;
			font-size: 14px;
			font-family: 'HelveticaNeue';
			line-height: 40px;
		}
	}
}

.footer_top{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content:stretch;
	width: 100%;
	box-sizing: border-box;
	padding: 0 60px;
}
.section_1{
	flex: 1 50%;
	max-width: 50%; //IE11
	order: 1;
	height: 448px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 23px;
	box-sizing:border-box;
	.quick_links{
		flex: 1 45%;
	}
	.customer_care{
		flex: 1 55%;
		letter-spacing: 0.02em;
		h5{
			letter-spacing: 0.03em;
		}
	}
}
.section_2{
	flex: 1 50%;
	max-width: 50%; //IE11
	padding-left: 5%;
	padding-top: 23px;
	order: 2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content:flex-start;
	width: 100%;
	border-left: 1px solid #e5e5e5;
	box-sizing:border-box;
}
.section_2_1{
	flex: 1 50%;
	order: 1;
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content:stretch;
	section{
		flex: 1 50%;
	}
	.questions{
		a{
			font-size: 14px;
			font-family: 'HelveticaNeue';
			letter-spacing: 0.038em;
			span{
				font-weight: bold;
			}
			img{
				margin-right: 9px;
			}
		}
	}
	.phone{
		p{
			font-family: 'HelveticaNeue';
			font-size: 14px;
		}
	}
	.questions,.phone{
		h5{
			margin-bottom: 18px;
		}
	}
}
.section_2_2{
	flex: 1 60%;
	order: 2;

}
.delivery{
	margin-top: 39px;
	font-family: 'Times Italic';
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0;
	height: 100px;
	p{
		width: 100%;
		max-width: 305px;
	}
}
.section_2_3{
	flex: 1 100%;
	order: 3;
}
.socials{
	margin-top: 43px;
	width: 90%;
	a{
		margin-right: 20px;
	}
}

.footer_bottom{
	border-top: 1px solid #e5e5e5;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content:stretch;
	width: 100%;
	line-height: 80px;
	box-sizing: border-box;
	padding: 0 60px;
	section{
		font-family: 'HelveticaNeue';
		font-weight: bold;
		font-size: 12px;
	}
	ul{
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		padding-left: 48px;
		box-sizing:border-box;
		li{
			list-style: none;
			display: inline-block;
			line-height: 80px;
			font-size: 12px;
		}
	}
	.section_3{
		flex: 1 36%;
		width: 28.88%;
		max-width: 341px;
		order: 3;
		li{
			display: inline-block;
		}
	}
	.legal_privaty{
		letter-spacing: 0.07em;
	}
	.section_4{
		order: 1;
		flex: 1 25%;
	}
	.copyright{
		letter-spacing: 0.045em;
	}
	.section_5{
		order: 2;
		flex: 1 10%;
		line-height: 90px;
	}
	.share{
		font-family: 'FuturaPTDemi';
		font-size: 18px;
		line-height: 75px;
		position: absolute;
		width: 108px;
		left:50%;
		margin-left: -54px;
		span{
			letter-spacing: 0.04em;
		}
		i{		
			display: inline-block;
			margin-right: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 4px 3.5px 0;
			border-color: transparent #f4f4f4 transparent transparent;
		}
		a{
			background: #f4f4f4;
			width: 42px;
			line-height: 21px;
			display: inline-block;
			text-align: center;
			font-size: 12px;
			font-weight: normal;
			font-family: 'HelveticaNeue';
		}
	}
}
// ---FOOTER

//MEDIA QUERIES

@media (max-width: 1024px) {
	.wrapper{
		max-width: 1024px;
	}
	.content_wrap{
		padding: 0 39px;
	}

	//HEADER
	header{
		height: 119px;
		form{
			width: 17px;
			overflow: hidden;
			border-bottom: none;
			.search-input{
				position: absolute;
				top: 0;
				right: -9999px;
				width: 0;
				transition-property: width;
				transition-duration: 1.5s;
			}
			input[type="image"]{
				vertical-align: middle;
				padding: 0;
			}
			&:hover{
				overflow: visible;
				z-index: 200;
				.search-input{
					display: block;
				}
				input[type="text"]{
					position: absolute;
					width: 120px;
					max-width: 120px;
					margin-right: 12px;
					padding-left: 10px;
					right: 0;
					top: 0;
					background: white;
					line-height: 25px;
					border-bottom: 2px solid #e5e5e5;
				}
				border-bottom: 2px solid #e5e5e5;
			}
		}
	}
	// ---HEADER

	//ITEM DETAILS

	.to_catalog{
		height: 55px;
		font-size: 12px;
		line-height: 48px;
		padding-left: 39px;
		letter-spacing: 0.05em;
	}
	.item{
		.item_gallery{
			margin-top: 20px;
			.img_nav{
				ul{
					li{
						margin-bottom: 10px;
					}
				}
			}
		}
		.item_details{
			margin-top: 20px;
			.item_name{
				font-size: 22px;
				letter-spacing: 0.015em;
				margin-bottom: 22px;
			}
			.item_price{
				font-size: 16px;
			}
			.item_info{
				width: 80%;
			}
			h4{
				font-size: 20px;
				margin: 12px 0 23px 0;
				line-height: 28px;
			}
			.item_color h4{
				margin-top: -0px;
			}
			ul{
				// justify-content: space-between;
				li{
					margin-right: 20px;
					a{
						line-height: 60px;
						font-size: 18px;
					}
				}
			}
			.add_btn{
				width: 40%;
				font-size: 20px;
				margin: 51px auto 100px;
				line-height: 65px;
				height: 65px;
			}
		}
	}

	//---ITEM DETAILS

	//BANNERS

	.banners{
		section{
			a{	
				img{
					&:nth-child(2){display: block;}
					&:nth-child(1){display: none;}
				}
			}
		}
		.left_banner{
			max-width: 513px/768px * 100%;
			flex: 1 66.8%;
			.banner_text{
				top: 30px;
				left: 61.46154%;
				h4{font-size: 26px;}
			}
		}
		.right_banner_1{
			width: 255px/768px*100%;
			border: none;
			flex: 1 23.2%;
			.banner_text{
				bottom: 20px;
				h4{font-size: 26px;}
			}
		}
		.right_banner_2{
			display: none;
		}
	}

	//BANNERS

	//FOOTER
	.footer_top,.footer_bottom{
		padding: 0 39px;
	}
	.section_1{
		flex: 1 66.7%;
		max-width: 66.7%; //IE11
		height: 423px;
		.quick_links{
			flex: 1 50%;
		}
		.customer_care{
			flex: 1 50%;
		}
	}
	.section_2{
		flex: 1 33.3%;
		max-width: 33.3%; //IE11
		padding-left: 0;
		border-left: none;
	}
	.section_2_1{
		height: 200px;
		section{
			flex: 1 100%;
		}
		.questions{
			margin-bottom: 12px;
		}
		.phone{
			margin-bottom: 38px;
		}
	}
	.section_2_2{
		display: none;
	}
	.footer_bottom{
		.section_3{
			width: 247px/690px * 100%;
			max-width: 295px;
			letter-spacing: 0.06em;
		}
		.share{
			margin-left: -50px;
		}
	}
	footer section h5{
		margin-top: 26px;
		font-size: 16px;
		margin-bottom: 31px;
	}
	.socials{
		margin-top: 58px;
    	margin-left: 2px;
    	a:first-child{
    		img{
    			margin-top: 2px;
    		}
    	}
	}
	// ---FOOTER
}

@media (max-width: 760px) {
	.content_wrap{
		padding: 0 20px;
	}
	// HEADER
	.header_top{
		height: 70px;
		line-height: 65px;
		padding-top: 0;
		.logo{
			padding-top: 1px;
			text-transform: uppercase;
			font-size: 24px;
			span{
				display: none;
			}
		}
		.sign_up{display: none;}
		.bag{
			margin: 2px 0 0 58px;
			float: left;
			img{display: none;}
		}
		.drop_menu_button,.close_menu_button{
			display: inline-block;
			position: absolute;
			top: 0;
			right: -20px;
			line-height: 69px;
			border-left: 1px solid #e5e5e5;
			img{
				margin: 0 20px;
			}
		}
		.close_menu_button{
			line-height: 70px;
			display: none;
			border-left: none;
		}
	}
	header{
		height: 70px;
		position: relative;
		nav{
			display: none;
		}
		.drop_menu{
			opacity: 0;
			display: block;
			box-sizing: border-box;
			position: absolute;
			top: 66px;
			left: 0px;
			border-top: 1px solid #e5e5e5;
			z-index: 199;
			background-color: white;
			padding: 12px 0 25px 19px;
			width: 100%;
			ul{
				display: block;
				max-width: 768px;
				width: 100%;
				float: none;
				margin: 0;
				padding: 0;
				li{
					display: block;
					font-size: 28px;
					line-height: 60px;
				}
			}
			form{
				float: none;
				max-width: 167px;
				width: 100%;
				height: 25px;
				border-bottom: 2px solid #e5e5e5;
				margin-top: 52px;
				margin-left: 0;
				position: relative;
				input[type="image"]{
					vertical-align: middle;
					float: right;
					width: 13px;
				}
				input:focus{
					outline: none;
				}
				.search-input{
					position: static;
					display: inline-block;
					margin: 0;
					padding: 0;
					max-width: 100px;
					width: 150px/167px * 100%;
					background: transparent;
					border: none;
					font-family: 'FuturaPTDemi';
					font-size: 12px;
					letter-spacing: 0.025em;
				}
				&:hover{
					width: 100%;
					margin-bottom: 4px;
					.search-input{
						position: static;
						margin: 0;
						padding: 0;
						line-height: 20px;
						border: none;
					}
				}
			}
		}
	}
	// ---HEADER

	//ITEM DETAILS
	.to_catalog{
		height: 55px;
		font-size: 12px;
		line-height: 48px;
		padding-left: 20px;
		letter-spacing: 0.05em;
	}
	.item{
		.item_gallery{
			display: block;
			margin-top: 0;
			width: 100%;
			position: relative;
			.main_img{
				width: 100%;
				float: none;
				margin-bottom: 19px;
			}
			.img_nav{
				float: none;
				max-width: 100%;
				width: 100%;
				ul{
					padding: 0;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					li{
						display: block;
						flex: 1 32%;
						max-width: 32%;
						margin-bottom: 0px;
					}
				}
			}
		}
		.item_details{
			margin-top: 20px;
			.item_name{
				font-size: 20px;
				letter-spacing: 0.015em;
				margin-bottom: 22px;
			}
			.item_price{
				font-size: 14px;
			}
			.item_info{
				width: 100%;
			}
			h4{
				font-size: 18px;
				margin: 12px 0 23px 0;
				line-height: 28px;
			}
			.item_color h4{
				margin-top: -0px;
			}
			ul{
				justify-content: space-between;
				li{
					margin: 0 0 21px 0;
					a{
						line-height: 60px;
						font-size: 18px;
					}
				}
			}
			.add_btn{
				width: 218px/335px * 100%;
				font-size: 18px;
				margin: 51px auto 100px;
				line-height: 60px;
				height: 60px;
			}
		}
	}
	//ITEM DETAILS

	//BANNERS
	
	.banners{
		section{
			a{	
				height: auto;
				width: 100%;
				img{
					&:nth-child(2){display: none;}
					&:nth-child(3){
						display: inline-block;
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
		.left_banner{
			flex: 1 ;
			max-width: 100%;
			overflow: hidden;
			.banner_text{
				top: 31px;
				left: 54.8%;
				h4{font-size: 24px;}
				span{
					font-size: 14px;
					line-height: 32px;
				}
			}
		}
		.right_banner_1{
			display: none;
		}
	}

	//---BANNERS

	//FOOTER
	.footer_top{
		padding: 0;
	}
	.section_1,.section_2{
		flex: 1 100%;
		max-width: 100%; //IE11
	}
	.section_1{
		height: 340px;
		padding: 34px 20px 0 20px;
		li{
			line-height: 36px;
			font-size: 12px;
		}
		.quick_links{
			flex: 1 56%;
		}
		.customer_care{
			flex: 1 44%;
		}
		border-bottom: 1px solid #e5e5e5;
	}
	.section_2{
		position: relative;
		padding: 0 20px;
		border-bottom: 1px solid #e5e5e5;
		.section_2_1{
			height: 109px;
			section{
				flex: 1 50%;
				max-width: 50%; //IE11
				padding-top: 23px;
			}
			h5{
				margin-bottom: 10px;
			}
			.questions{
				box-sizing: border-box;
				border-right: 1px solid #e5e5e5;
				a{font-size: 12px;}
				height: 109px;
				flex: 1 50%;
			}
			.phone{
				padding-left: 20px;
				p{font-size: 12px;}
				flex: 1 50%;
			}
		}
		.section_2_3{
			position: absolute;
			bottom: -45px;
			right: 20px;
		}
		.socials{
			max-width: 46px;
			a:last-child{
				margin-right: 0;
			}
		}
		@include clearfix;
	}
	.footer_bottom{
		border-top: none;
		padding: 0;
		.section_3{
			flex: 1 100%;
			order: 1;
			max-width: 100%;
			ul{
				height: 64px;
				padding-left: 0;
				max-width: 208px;
				li{
					font-size: 10px;
					line-height: 63px;
				}
			}
			border-bottom: 1px solid #e5e5e5;
		}
		.section_3{
			padding: 0 20px;
		}
		.section_4{
			line-height: 63px;
			order: 2;
			font-size: 10px;
			flex: 1 75%;
			padding-left: 20px;
			letter-spacing: 0.035em;
		}
		.section_5{
			line-height: 57px;
			padding-right: 20px;
			position: static;
			order: 3;
			flex: 1 25%;
			text-align: right;
			span{font-size: 16px;}
			a{	
				width: 36px;
				font-size: 10px;
				line-height: 19px;
			}
		}
	}
	footer{
		section{
			h5{
				margin-top: 0px;
				font-size: 14px;
				margin-bottom: 23px;
			}
		}
	}
	// ---FOOTER
}